.social-container {
    
    text-align:end;
  }
  
  /* #012970 */
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: rgb(187, 182, 182);
  }

  a.social:hover {
    transform: translateY(-2px);
  }

